<!DOCTYPE html>
<html>
<head>
    <title>Discount Manager</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 3rd party libraries -->
    <link href="libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <!-- Custom styles -->
    <link href="css/styles.css" rel="stylesheet" />

</head>
<body data-ng-app="rabattApp">

    <header class="navbar navbar-inner navbar-fixed-top" ng-controller="NavbarController">
        <nav class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#!/">
                    <span class="appTitle">{{ appTitle }}</span>
                </a>
            </div>
            <div class="nav-container" data-collapse="isCollapsed">

                <ul class="nav navbar-nav nav-pills navBarPadding">
                    <li><a href="#!/discounts">Discounts</a></li>
                    <li id="nav-login" ng-click="loginOrOut()">
                        <a data-href="#!/login">{{ loginLogoutText }}</a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>

    <div>
        <div ng-view id="ng-view"></div>
    </div>

    <!-- 3rd party libraries -->
    <script src="libs/angular/angular.js"></script>
	<script src="libs/angular-route/angular-route.js"></script>
    <script src="libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    
    <!-- Custom scripts -->
    <script src="app.js"></script>
    <script src="services/config.js"></script>
    <script src="services/authService.js"></script>
    <script src="services/httpInterceptors.js"></script>
    <script src="services/dataService.js"></script>
    <script src="services/modalService.js"></script>
    <script src="controllers/discounts/discountViewController.js"></script>
    <script src="controllers/discounts/discountEditController.js"></script>
    <script src="controllers/discounts/discountsController.js"></script>
    <script src="controllers/navbarController.js"></script>
    <script src="controllers/loginController.js"></script>

</body>
</html>


