<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Discount Informations</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="navbar">
      <ul class="nav navbar-nav">
        <li class="toolbaritem">
          <a class="btn btn-primary" href="#!/discount/new">
            <span class="glyphicon glyphicon-plus"></span> Add Discount
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div ng-repeat="discount in discounts">
  <div class="row filterResult">
    <div class="col-md-8">
      <h3 class="name">{{discount.title}}</h3>
      <h4 class="category">{{discount.category}}</h4>
      <div class="">
        <strong class="">Likes: {{ discount.voteTemp }}, Dislikes: </strong>
      </div>
      <div class="">
        <button class="btn btn-success btn-lg" title="Runtervoten" type="button" data-ng-click="upVote($index)"><span class="glyphicon glyphicon-thumbs-up"></span></button>
        <button class="btn btn-danger btn-lg" title="Hochvoten" type="button" data-ng-click="downVote($index)"><span class="glyphicon glyphicon-thumbs-down"></span></button>
      </div>
      <div class="">
        <a href="" class=""><span class="">{{ discount.user }}</span></a>
        <time class="" datetime="{{ discount.createdAt }}">
          <span class="">1 hour ago</span>
        </time>
      </div>
      <div class="">
        {{ discount.description.substring(0, 100) }}
        <a class="" href="#!/discount/{{discount.id}}" rel="nofollow">Read more</a>
      </div>
      <a class="btn btn-primary" href="#!/discount/{{discount.id}}">View More <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <div class="col-md-4">
      <a href="#">
        <img class="img-responsive" ng-src="{{discount.image}}" alt="">
      </a>
    </div>
  </div>
  <hr>
</div>
<div class="row" data-ng-show="discounts.length == 0">
  <div class="col-span-12">
    <h4>No discount found</h4>
  </div>
</div>
<!-- /.row -->
<!-- Pagination -->
<div class="row text-center" data-ng-show="discounts.length > 0">
  <div class="col-lg-12">
    <ul ng-if="pager.pages.length" class="pagination">
      <li ng-class="{disabled:pager.currentPage === 1}">
        <a ng-click="setPage(1)">First</a>
      </li>
      <li ng-class="{disabled:pager.currentPage === 1}">
        <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
        <a ng-click="setPage(page)">{{page}}</a>
      </li>
      <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
        <a ng-click="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
        <a ng-click="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </div>
</div>
<!-- /.row -->